<!-- section-2 part-2 -->

<div class="section-2__part-2">
  <div class="section-2__part-2__card">
    <i class="fa-solid fa-people-group fa-xl" style="color: #ffffff"></i>
    <h1 class="section-2__part-2__card__title">people</h1>
    <p class="section-2__part-2__card__txt">
      Right people are identified, trained and empowered to drive the changes
      envisioned. Training and empowerment are vital here and our unique
      framework facilitated by a 360- degree view ushers in the necessary change
    </p>
  </div>
  <div class="section-2__part-2__card">
    <i class="fa-solid fa-gears fa-xl" style="color: #ffffff"></i>
    <h1 class="section-2__part-2__card__title">process</h1>
    <p class="section-2__part-2__card__txt">
      Right people are identified, trained and empowered to drive the changes
      envisioned. Training and empowerment are vital here and our unique
      framework facilitated by a 360- degree view ushers in the necessary change
    </p>
  </div>
  <div class="section-2__part-2__card">
    <i class="fa-solid fa-people-group fa-xl" style="color: #ffffff"></i>
    <h1 class="section-2__part-2__card__title">people</h1>
    <p class="section-2__part-2__card__txt">
      Right people are identified, trained and empowered to drive the changes
      envisioned. Training and empowerment are vital here and our unique
      framework facilitated by a 360- degree view ushers in the necessary change
    </p>
  </div>
  <div class="section-2__part-2__card">
    <i class="fa-solid fa-people-group fa-xl" style="color: #ffffff"></i>
    <h1 class="section-2__part-2__card__title">people</h1>
    <p class="section-2__part-2__card__txt">
      Right people are identified, trained and empowered to drive the changes
      envisioned. Training and empowerment are vital here and our unique
      framework facilitated by a 360- degree view ushers in the necessary change
    </p>
  </div>
</div>

<!-- section-2 part-2 -->
