<!-- Carousel background image -->

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img
        [src] = image_1
        class="d-block w-100 c-item"
        alt="..."
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="assets/images/Carousel/rectangle 2.jpg"
        class="d-block w-100 c-item"
        alt="..."
      />
    </div>
    <div class="carousel-item c-item">
      <img
        src="assets/images/Carousel/rectangle 3.jpg"
        class="d-block w-100 c-item"
        alt="..."
      />
    </div>
  </div>
</div>

<!-- Carousel background image -->
